@charset "UTF-8";
/* ICT TeamONE _ 약을 쏘옥, 약속 _ KimJuyeon _ 20250818 */

a,
a:link,
a:visited,
a:active,
a:hover						{text-decoration: none; color: inherit;
	outline: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
button 						{border: 0 none; font: inherit; color: inherit;
	-webkit-appearance:none; -moz-appearance: none; appearance: none;
}
button:focus,
a:focus						{outline-color: transparent; outline-style: none;}
.btn 						{width: fit-content; font-size: inherit; text-align: center; vertical-align: middle; border: 0 none; outline: none; cursor: pointer; background-color: transparent; box-sizing: border-box; border-radius: 0; gap: 8px;
	display: -webkit-inline-flex; display: inline-flex;
	justify-content: center;
	align-items: center;
}

a.btn						{text-decoration: none;}
input.btn,
button.btn					{overflow: visible; margin: 0;}

/* button transparent */
.btn.underline					{text-decoration: underline;}
.btn.transparent				{padding: 0; background-color: transparent;}
.btn.underline:hover,
.btn.transparent:hover			{color: var(--secondary);}


/* button size */
.btn.xsmall		{height: var(--xsmall); line-height: var(--xsmall);}
.btn.small		{height: var(--small); line-height: var(--small);}
.btn.regular	{height: var(--regular); line-height: var(--regular);}
.btn.xsmall,
.btn.small,
.btn.regular	{font-size: 13px;}
.btn.medium		{height: var(--medium); line-height: var(--medium); font-size: 14px;}
.btn.large		{height: var(--large); line-height: var(--large); font-size: 14px;}

/* button circle */
.btn.circle				{overflow: hidden;
	-webkit-box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 3px 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.btn.xsmall.circle		{width: var(--xsmall);}
.btn.small.circle		{width: var(--small);}
.btn.regular.circle		{width: var(--regular);}
.btn.medium.circle		{width: var(--medium);}
.btn.medium:not(.circle)		{width: 148px;}

/* button style */
.btn.white				{background-color: #fff; color: black;}
.btn.black				{background-color: black; color:#fff}
.btn.black:disabled		{opacity: .15;}
.btn.bdr-gray			{border: solid 1px var(--light-gray); background-color: white; color: black;}
.btn.bdr-gray:disabled		{border-color: var(--very-light-gray); background-color: var(--very-light-gray); color: var(--gray);}
.btn.bdr-blue		{border: solid 1px var(--blue); background-color: white; color: var(--blue); }
.btn.blue			{background-color: var(--blue); color:#fff}

/* .btn.etc */
.btn.link,
.btn.linkline		{font-size: 13px; line-height: 20px; font-weight: 600; color: var(--dark-gray);}
.btn.linkline {text-decoration: underline;}
.data-list.card + .ta-c		{margin-top: 24px; border-top: 1px solid var(--very-light-gray);} /* 더 보기 */

/* .btn.more */
.btn.more			{position: absolute; right: -14px; z-index: 2;}
.item > .btn.more		{top: 16px;}
.article > .btn.more	{top: 12px;}
.article.card > .btn.more	{top: 24px; right: 6px;}
.btn.circle.edit-image	{width: 24px; height: 24px;
	-webkit-box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
	box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.16);
}

/* button inside */
.btn .ico.more-down-arr		{margin-left: 10px}
.btn .ico.filter			{margin-right: 4px}
.btn .ico + span,
.btn .ico + .count			{margin-left: 4px}
.btn .ico.share + span		{margin-left: 6px}
.btn .ico.plus-black,
.btn .ico.email 			{margin-right: 8px;}
.btn .count					{color: var(--gray);}
.btn object 				{position: relative; z-index: -1;}

/* .button-area */
.button-area				{margin-top: 28px;}
.button-area .btn.large						{width: 100%;}
.section-bar + .button-area					{margin-top: 36px;}
.button-area:not(.pack-both) br + .btn		{margin-top: 18px;}
.button-area.pack-center .btn + .btn		{margin-left: 8px}
