@charset "UTF-8";
/* ICT TeamONE _ 약을 쏘옥, 약속 _ KimJuyeon _ 20250818 */
:root {
	--vh100: calc(var(--vh, 1vh) * 100);
	
	/* laout */
	--header: 56px;
	--nav: 60px;

	/* scroll */
	--scroll: 4px;

	/* btn & input */
	--xsmall: 28px;
	--small: 36px;
	--regular: 44px;
	--medium: 48px;
	--large: 56px;
	--xlarge: 80px;
}

@media (min-width: 600px) {
	:root {
		--conW: 600px;
		--conR: 20.83vw;
	}
}
