@charset "utf-8";
/* ICT TeamONE _ 약을 쏘옥, 약속 _ KimJuyeon _ 20250818 */

/* reset */
@import url(lib/reset.css);
@import url(_fonts.css);
@import url(_fonts_ad.css);
@import url(_colors_ad.css);
@import url(_vars_ad.css);
@import url(_button_ad.css);
@import url(_form_ad.css);
@import url(_layout_ad.css);
@import url(_global_ad.css);


/* 관리자 로그인 */
#wrap.login {background-image: url("../images/logo/man.svg"); background-repeat: no-repeat; background-size: auto 80%; background-position: 50% 200%;
	display: flex;
	-webkit-justify-content: flex-end; justify-content: flex-end;
	-webkit-align-items: stretch; align-items: stretch;
}
#wrap.login #container	{width: 50%; min-width: 360px; max-width: 480px; min-height: var(--vh100); padding: 3rem; background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}
#wrap.login #content,
#wrap.login .login-form .fieldset	{
	display: flex;
	-webkit-flex-direction: column; flex-direction: column;
}
#wrap.login #content				{margin: 16px 0; gap: 16px;}
#wrap.login .logo					{display: block; height: var(--large);}
#wrap.login .login-form .fieldset	{gap: 12px}
#wrap.login .label					{font-size: smaller; font-weight: 400;}
#wrap.login .btn.large				{width: 100%;}
#wrap.login #footer					{
	-webkit-flex-direction: column; flex-direction: column;
}

