@charset "utf-8";
/*
	TEAMONE
	KimJuYeon
	2025.08.14
*/

/* button reset */

a,
a:link,
a:visited,
a:active,
a:hover									{text-decoration: none; color: inherit;}
button 									{-webkit-appearance:none; -moz-appearance: none; appearance: none;
	border: 0 none; font-family: inherit; color: inherit;}
button:focus,
a:focus									{outline-color: transparent; outline-style: none;}
.btn 									{width: fit-content; font-size: inherit; text-align: center; vertical-align: middle; border: 0 none; outline: none; cursor: pointer; background-color: transparent;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	display: -ms-inline-flexbox; display: -webkit-inline-flex; display: inline-flex;
	-webkit-justify-content: center; -ms-flex-pack: center; justify-content: center;
	-webkit-align-items: center; -ms-flex-align: center; align-items: center;

	box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

a.btn									{text-decoration: none;}
input.btn,
button.btn								{overflow: visible; margin: 0; padding: 0; background-color: transparent;}

/* size */
.btn.small								{}
.btn.medium								{}
.btn.large								{}
.btn.xlarge								{}

/* accent */
.btn.normal 							{}
.btn.accent								{}
.btn.stress								{}

/* btn disabled */
.btn[disabled]		{color: var(--gray); background-color: var(--gray-light);}

/* btn fnc. */
.btn.delete								{}
.btn.delete:hover						{}
