@charset "utf-8";
/*
	TEAMONE
	KimJuYeon
	2025.08.14
*/

@import url(_reset.css);
@import url(_font.css);
@import url(_button.css);
@import url(_layout.css);
@import url(_global.css);

:root {
	--headerSize : 60px;
	--baseSize: 16px;

	--bgBody: #eaeef6;
	--baseFont : #6a778e;

	--hanbom: #ffde00;

	--primary: #406ff3;
	--primaryLight: #8abdff;
	--primaryDark: #5b0eeb;

	--greyLight: #EBF0FD;
	--greyLight1: #E4EBF5;
	--greyLight2: #c8d0e7;
	--greyLight3: #bec8e4;
	--greyDark: #9baacf;

	--baseSvg: #6a778e;

	--guideDt: 140px;
}
