<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.middlepj.ict05.domain.admin.adminreview.dao.ReviewDAO"><!-- namespace="패키지명.인터페이스" -->
	
	<select id="userCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) 
		  FROM MEMBER_TB AS cnt
		 WHERE MB_EMAIL = #{strId}
		   AND MB_GRADE = 'admin'
	</select>

	<!-- 게시글 갯수 구하기 -->
	<select id="boardCnt" resultType="int">
		SELECT COUNT(*) AS cnt
		FROM REVIEW_TB
	</select>
	
	<select id="reviewList" parameterType="java.util.Map" resultType="com.middlepj.ict05.domain.admin.adminreview.dto.ReviewDTO">
	    SELECT * FROM (
	        SELECT ROWNUM rn, a.*
	        FROM (
	            SELECT R.RV_ID,
	                   R.MB_NAME,
	                   R.RV_CONTENT,
	                   R.RV_RATING,
	                   R.RV_READCOUNT,
	                   R.RV_REG_DATE,
	                   D.DR_PRODUCT AS DRUG_NAME
	            FROM REVIEW_TB R
	            JOIN DRUG_TB D ON R.DR_ID = D.DR_ID
	            ORDER BY R.RV_REG_DATE DESC
	        ) a
	    )
	    WHERE rn BETWEEN #{start} AND #{end}
	</select>
	
	<select id="boardSearchCnt" parameterType="java.util.Map" resultType="int">
	    SELECT COUNT(*) AS cnt
	    FROM REVIEW_TB R
	    JOIN DRUG_TB D ON R.DR_ID = D.DR_ID
	    WHERE R.MB_NAME LIKE '%' || #{keyword} || '%'
	       OR R.RV_CONTENT LIKE '%' || #{keyword} || '%'
	       OR D.DR_PRODUCT LIKE '%' || #{keyword} || '%'
	</select>
	
	<select id="reviewSearchList" parameterType="java.util.Map" resultType="com.middlepj.ict05.domain.admin.adminreview.dto.ReviewDTO">
	    SELECT * FROM (
	        SELECT ROWNUM rn, a.*
	        FROM (
	            SELECT R.RV_ID,
	                   R.MB_NAME,
	                   R.RV_CONTENT,
	                   R.RV_RATING,
	                   R.RV_READCOUNT,
	                   R.RV_REG_DATE,
	                   D.DR_PRODUCT
	            FROM REVIEW_TB R
	            JOIN DRUG_TB D ON R.DR_ID = D.DR_ID
	            WHERE (R.MB_NAME LIKE '%' || #{keyword} || '%'
	                OR R.RV_CONTENT LIKE '%' || #{keyword} || '%'
	                OR D.DR_PRODUCT LIKE '%' || #{keyword} || '%')
	            ORDER BY R.RV_REG_DATE DESC
	        ) a
	    )
	    WHERE rn BETWEEN #{start} AND #{end}
	</select>
</mapper> 