<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.middlepj.ict05.domain.admin.adminmember.dao.MemberAdminDAO"><!-- namespace="패키지명.인터페이스" -->
	
	<!-- 멤버수 -->
	<select id="memberCnt" resultType="int">
		SELECT COUNT(*) FROM MEMBER_TB
		<where>
		<if test="s_grade != null and s_grade != ''">
		   AND MB_GRADE = #{s_grade}
		</if>
		<if test="s_keyword != null and s_keyword != ''">
		   AND (MB_NAME LIKE '%' || #{s_keyword} || '%'
		    OR MB_EMAIL LIKE '%' || #{s_keyword} || '%')
		</if>
		</where>
	</select>
	
	<!-- 멤버목록 -->
	<select id="memberList" parameterType="java.util.Map" resultType="com.middlepj.ict05.domain.admin.adminmember.dto.MemberAdminDTO">
		SELECT *
		  FROM 
		  	(SELECT A.* , 
		  			rownum AS rn
		  	   FROM (
		  	   		 SELECT * FROM MEMBER_TB
	  				 <where>
	  				 <!-- grade 조건 -->
	  				 <if test="s_grade != null and s_grade != ''">
	  					AND MB_GRADE = #{s_grade}
	  				 </if>
	  				
	  				 <!-- keyword 조건 -->
	  				 <if test="s_keyword != null and s_keyword != ''">
	  					AND (MB_NAME LIKE '%' || #{s_keyword} || '%'
	  					 OR MB_EMAIL LIKE '%' || #{s_keyword} || '%')
	  				 </if>
	  				 </where>
					 ORDER BY MB_ID DESC
					) A
			)
		 WHERE rn BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 멤버삭제 -->
	<delete id="memberDelete" parameterType="int">
		DELETE MEMBER_TB
		 WHERE MB_ID=#{mbId}
	</delete>
	
	<!-- 회원가입 처리 -->
	<insert id="memberInsert" parameterType="com.middlepj.ict05.domain.admin.adminmember.dto.MemberAdminDTO">
		INSERT INTO MEMBER_TB(MB_ID, 
						MB_NAME, 
						MB_EMAIL, 
						MB_PASSWORD, 
						MB_GRADE, 
						MB_WRITER_ID,
						MB_REG_DATE)
		VALUES((SELECT NVL(max(MB_ID)+1, 1) FROM MEMBER_TB), 
				#{mb_name}, 
				#{mb_email}, 
				#{mb_password},
				#{mb_grade}, 
				#{mb_writer_id}, 
				sysdate)
	</insert>
	
	<!-- 멤버상세 -->
	<select id="memberDetail"  parameterType="int" resultType="com.middlepj.ict05.domain.admin.adminmember.dto.MemberAdminDTO">
		SELECT *
		  FROM MEMBER_TB
		 WHERE MB_ID=#{mbId}
	</select>
</mapper> 