<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.middlepj.ict05.domain.faq.dao.FaqDAO">

	<!-- FAQ 회원 목록 -->
	<select id="userFaqlist" parameterType="map" resultType="com.middlepj.ict05.domain.faq.dto.FaqUserDTO">
	    <![CDATA[
		  SELECT *
		  FROM (
		    SELECT A.*, ROWNUM rn
		    FROM (
		      SELECT *
		      FROM FAQ_TB
		      WHERE fa_show = 'Y'
		      ORDER BY fa_id DESC
		    ) A
		    WHERE ROWNUM <= #{end}
		  )
		  WHERE rn >= #{start}
	   ]]>
	</select>

	<!-- 회원 목록 갯수 구하기 -->
	<select id="userFaqCount" resultType="int">
		SELECT COUNT(*) FROM FAQ_TB WHERE fa_show = 'Y'
	</select>

	<!-- FAQ 관리자 목록 -->
	<select id="faqlist" parameterType="map" resultType="com.middlepj.ict05.domain.faq.dto.FaqDTO">
	    <![CDATA[
		  SELECT *
		  FROM (
		    SELECT A.*, ROWNUM rn
		    FROM (
		      SELECT *
		      FROM FAQ_TB
		      WHERE fa_show = 'Y'
		      ORDER BY fa_id DESC
		    ) A
		    WHERE ROWNUM <= #{end}
		  )
		  WHERE rn >= #{start}
	   ]]>
	</select>
	
	<!-- 관리자 목록 갯수 구하기 -->
	<select id="faqCount" resultType="int">
		SELECT COUNT(*) FROM FAQ_TB WHERE fa_show = 'Y'
	</select>

</mapper>
