<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.middlepj.ict05.domain.member.dao.MemberDAO"><!-- namespace="패키지명.인터페이스" -->
	<!-- 로그인 처리 / 회원정보 인증(수정, 탈퇴) -->
	<select id="idPasswordChk" parameterType="java.util.Map" resultType="int">
		SELECT COUNT(*) FROM MEMBER_TB
		 WHERE mb_email = #{mb_email}
		   AND mb_password = #{mb_password}
	</select>
	
	<select id="memberSelect" parameterType="java.util.Map" resultType="com.middlepj.ict05.domain.member.dto.MemberDTO">
		SELECT mb_id, mb_name, mb_email, mb_grade
		  FROM MEMBER_TB
		 WHERE mb_email = #{mb_email}
		   AND mb_password = #{mb_password}
	</select>
	
	<!-- ID 중복확인 처리 -->
	<select id="emailCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM MEMBER_TB 
		 WHERE MB_EMAIL = #{strEmail}
	</select>
	
	<!-- 회원가입 처리 -->
	<insert id="insertMember" parameterType="com.middlepj.ict05.domain.member.dto.MemberDTO">
		INSERT INTO MEMBER_TB(MB_ID, 
						MB_NAME, 
						MB_EMAIL, 
						MB_PASSWORD, 
						MB_WRITER_ID,
						MB_REG_DATE)
		VALUES((SELECT NVL(max(MB_ID)+1, 1) FROM MEMBER_TB), 
				#{mb_name}, 
				#{mb_email}, 
				#{mb_password}, 
				(SELECT NVL(max(MB_ID)+1, 1) FROM MEMBER_TB), 
				sysdate)
	</insert>
</mapper> 