<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.middlepj.ict05.domain.mypage.mypageqna.dao.MyQnaDAO">
	
<!-- qna 상세 목록  -->
<select id="qnaList" parameterType="java.util.Map" resultType="com.middlepj.ict05.domain.mypage.mypagereview.dto.MyQnaDTO">
		<![CDATA[
	 SELECT *
     FROM (
     	SELECT ROWNUM AS rn
      	   , x.qa_id
      	   , x.dr_id
           , x.qa_title
           , x.qa_content
           , x.qa_private
           , x.qa_answer
           , x.qa_answer
      FROM (
        SELECT rv.rv_content
        	 , rv.rv_id
        	 , rv.mb_id
             , rv.rv_rating
             , rv.rv_show
             , dr.dr_product
             , dr.dr_id
          FROM REVIEW_TB rv
          JOIN DRUG_TB   dr ON rv.dr_id = dr.dr_id
         WHERE rv.mb_id = #{mbId}
         ORDER BY rv.rv_id DESC
      ) x
      WHERE ROWNUM <= #{end}
    )
    WHERE rn >= #{start}
     ]]>
</select>

<!-- 게시글 갯수 구하기 -->
<select id="listCnt" parameterType="int" resultType="int" >
	SELECT COUNT(*)	AS cnt
	  FROM QNA_TB
	 WHERE mb_id = #{mb_id}
</select>

</mapper> 