@charset "utf-8";
/* ICT TeamONE _ 약을 쏘옥, 약속 _ KimJuyeon _ 20250818 */



@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
/* material-icons icon */
.md-18	{font-size: 18px;}
.md-24	{font-size: 24px;}
.md-36	{font-size: 36px;}
.md-48	{font-size: 48px;}
.md-dark							{color: rgba(0, 0, 0, 0.54);}
.md-dark.md-inactive	{color: rgba(0, 0, 0, 0.26);}
.md-light							{color: rgba(255, 255, 255, 1);}
.md-light.md-inactive	{color: rgba(255, 255, 255, 0.3);}
