@charset "UTF-8";
/* ICT TeamONE _ 약을 쏘옥, 약속 _ KimJuyeon _ 20250818 */
:root {
	--vh100: calc(var(--vh, 1vh) * 100);

	/* laout */
	--aside: 84px;

	/* btn & input */
	--medium: 36px;
	--large: 48px;
	--small: 24px;
	--xsmall: 20px;

	/* scroll */
	--scroll: 4px;

	/* popup */
	--pop-header: 80px;

	/* title */
	--page-title: 28px;

}

@media all and (min-width: 768px){
	:root {
		/* laout */
		--header: 86px;
		--congap: 32px;
		--asidewide: 260px;
	}
}
@media all and (max-width: 767px) {
	:root {
		--header: 64px;
		--congap: 16px;
		--asidewide: 200px;
	}
}
